
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        
          <a class="navbar-brand" href="#">Asset Manager</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          
          <ul class="nav navbar-nav">
            <li><a href="" [routerLink]="['/users']">Contact us</a></li>
            <li><a href="" [routerLink]="['/access']">About</a></li>
         <!--ngif used for login name and button logic-->
          </ul>
        <ul class="nav navbar-nav navbar-right">
      <li *ngIf="usersService.loggedinUser !=undefined" class="loggedIn">{{usersService.loggedinUser.firstName}} {{usersService.loggedinUser.lastName}}</li>
      <li *ngIf="usersService.loggedinUser != undefined"><a [routerLink]="['/welcome']"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      <li *ngIf="usersService.loggedinUser == undefined"><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <router-outlet></router-outlet>

