body{
  background: url("../resources/computer-767776_640.jpg");
   background-size: cover;
  position: "fixed" !important;
  background-repeat: no-repeat;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
 .selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .form {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .form li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .form li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .form li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .form .text {
    position: relative;
    top: -3px;
  }
  .basicForm{
    width: 400px;
    margin: 75px auto 0;
  }
  